ul{

    li{

        span {
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            font-size: 1.5em;
            transition: 0.3s;
        }
    }
}

ul{

    li:hover{

        span {
            z-index: 1000;
            transition: 0.5s;
            color: #ffffff;
            box-shadow: -1px 1px 1px rgba(0,0,0,0.05);

        }
    }
}

footer{
    nav{
        background-color: $primary-color;
        display: flex;
        padding: 0 1rem;
        div{
            ul{
                li{
                    display: flex;
                    position: relative;
                    width: 20px;
                    height: 20px;
                    margin: 0px;
                    list-style: none
                }
            }
        }
    }
}