@font-face {
    font-family: titillium;
    src: url(fonts/TitilliumWeb-Italic.ttf);
    font-style: italic;
}

@media (max-width:800px){
    .column{
        flex: 50%;
    }
}

@media (max-width: 600px){
    .column{
        flex: 60%;
    }
}

body{
    background-image:url(../multimedia/FONDO.png);
    background-repeat: repeat;
}